body{
    margin:0px auto auto 0px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Hubballi', cursive;
  color: #40514E;
}
.top-container{
    background-color:	#EAF6F6;
    padding: 100px;
    position: relative;
    color: #66BFBF;
}
.Mountains{
    margin-top: 60px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
p{
    line-height: 2;
}
span{
    text-decoration: underline;
}
h1{
margin:50px auto 0 auto;
 font-size: 5.25rem;
 font-family: 'Sacramento', cursive;
 line-height: 2;
}
.middle-container{
    margin:100px auto;
}
.skill-image{
    height: 200px;
    width:200px;
}
/*
.flag2{
    height: 100px;
    width:100px;
    position: absolute;
    top:150px;
    left: 400px;
}

.flag1{
    height: 100px;
    width:100px;
    position:absolute;
    top: 150px;
    right:400px;
   
}
*/
.skills,.contact-me{
    margin-top: 50px;
}
h2{
    font-size: 2.5rem;
    margin:20px auto auto auto;
    color: #66BFBF;
    padding: 20px;
}
h3, a{
    color: #11999E;
}
.myPic, .cricket{
    border-radius: 50%;
    background-color:magenta;
}
.skill-row{
    width:50%;
margin: 100px auto 100px auto;
text-align:left;
line-height: 2;
}
 .internet{
    width:25%;
    float: right;
    margin-left: 30px;
}
.cricket{
    width:25%;
    float: left;
    margin-right: 30px;
}
hr{
    border-style: none;
    border-top: 8px dotted #EAF6F6;
    width: 5%;
    margin: 50px auto;
 
}
.btn{
    background: rgb(167,45,164);
    background: linear-gradient(90deg, rgba(167,45,164,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: azure;
    text-decoration: none;
    padding:7px 12px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
}
.btn:hover{ 
    background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(113,255,0,1) 100%);
}
.bottom-container{
    background-color: #66BFBF;
    color: #EAF6F6;
    padding: 40px 0 20px;
}
a{
    text-decoration: none;
    color: #11999E;
    padding: 10px;
    line-height:1.5;
}
a:hover{
    color: #EAF6F6;
}
.last{
    padding:20px auto;
    font-size: 0.75rem;
}
